<!DOCTYPE html>
<html>{% import 'macros.html' as macros %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vehicle miles traveled for {{ macros.municipality_year(name, county, year) }}</title>
        <style>
            th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>Vehicle miles traveled for {{ macros.municipality_year(name, county, year) }}</h1>

        <table>
            <thead>
                <tr>
                {% for t in types %}
                    <th>{{ t.type }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for t in types %}
                    <td>{{ t.miles }}</td>
                {% endfor %}
                </tr>
            </tbody>
            <tbody>
                <tr>
                {% for t in types %}
                    <td>{{ t.co2 }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </body>
</html>
