{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block title %}Vehicle miles traveled for {{ macros.municipality(name, county) }}{% endblock %}
{% block content %}
{% for year, types in groups|items %}
  <h2>{{ year }}</h2>
  <table>
    <thead>
      <tr>
        {% for t in types %}
          <th>{{ t.type }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for t in types %}
          <td>{{ t.miles }}</td>
        {% endfor %}
      </tr>
    </tbody>
    <tbody>
      <tr>
        {% for t in types %}
          <td>{{ t.co2 }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endfor %}
<img src="data:image/png;base64,{{ miles_chart }}"/>
<img src="data:image/png;base64,{{ co2_chart }}"/>
{% endblock %}
